body{
	background: #333;

	color: #ecf0f1;

	font-family: (URW Gothic L, sans-serif);
}

td .dangerbox{
}

td .warningbox{

}

td .sucessbox{

}

.danger, .bg-danger{
	background: #d94f4f !important;
}

.warning, .bg-warning{
	background: #f59a18 !important;
}

.success, .bg-success{
	background: #0bb30b !important;
}

.info, .bg-info{
	background: #1dc1f2 !important;
}

.active{
	background: #999999 !important;
}

.box{
}

.box h2{ 
	padding-top: 0px;
	text-align: center;
	font-size: 80px;
}

.box h3{
	text-align: center;
	font-size: 25px;
}