/* *********************************************** */
/* Support Dashboard Style                         */
/* Original Developer: WJP Software Limited        */
/* http://www.wjps.co.uk                           */
/* Open Source Code - Please modify for your       */
/* requirements and needs.                         */
/* *********************************************** */


body{
	background: #333;

	background-image: url(../img/LogoBgSubtle.png);
	background-size: 100%;
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;

	color: #ecf0f1;

	font-family: "FreeSans", sans-serif;

	font-size: 18px;

	width: 99%;
}

td .dangerbox{
}

td .warningbox{

}

td .sucessbox{

}

.danger, .bg-danger{
	background: #d94f4f !important;
}

.warning, .bg-warning{
	background: #f59a18 !important;
}

.success, .bg-success{
	background: #0bb30b !important;
}

.info, .bg-info{
	background: #1dc1f2 !important;
}

.active{
	background: #999999 !important;
}

.box{
}

small{
	color: #999!important;
}

.box h2{ 
	padding-top: 0px;
	text-align: center;
	font-size: 80px;
}

.box h3{
	text-align: center;
	font-size: 25px;
}

footer{
	background-color: #444;
	color: #ecf0f1;
	width: 100%;
	bottom: 0;
	position: absolute;
	height: 50px;
	box-sizing: border-box;
}

#foot{
	line-height: 50px;
	margin-left: 5%;
}

.error{
	color: #d94f4f;
}

/*Status*/

.responded {
    color:green;
}
.checking,.unchecked {
    color:#FF8C00;
}
.timeout {
    color:red;
}

.status-good{
	width: 15px;
	height: 15px;
	background: #33cc33;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	margin-top: 7px; 
}

.status-bad{
	width: 15px;
	height: 15px;
	background: #ff3300;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	margin-top: 7px;
}
.box{
	height: 200px;
}