body{
	background: #333;
	color: #ecf0f1;
}

td .dangerbox{
}

td .warningbox{

}

td .sucessbox{

}

.danger{
	background: #d94f4f !important;
}

.warning{
	background: #f59a18 !important;
}

.success{
	background: #0bb30b !important;
}

.info{
	background: #1dc1f2 !important;
}

.active{
	background: #999999 !important;
}

.box{
}

.box h2{ 
	padding-top: 0px;
	text-align: center;
	font-size: 80px;
}

.box h3{
	text-align: center;
	font-size: 25px;
}