<!-- *********************************************** -->
<!-- Support Dashboard Index                         -->
<!-- Original Developer: WJP Software Limited        -->
<!-- http://www.wjps.co.uk                           -->
<!-- Open Source Code - Please modify for your       -->
<!-- requirements and needs.                         -->
<!-- *********************************************** -->


<!doctype html>
<html ng-app="dashboard">
  <head>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/status.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/functions.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-controller="DashboardController">
    
    <div class="row">
      <div class="col-md-7">

        <!--Incidents -->

        <h1 style="margin-left:15px; margin-top:0px;"><small ng-class="{'danger-text':incidentcounter==1,'success-text':incidentcounter==0}"><span ng-if="incidentlimit >= 8">Top 8 </span>Incidents</small></h1>
        <table class="table">
        <tr> 
          <th style='text-align:center;width:40px'><span class="glyphicon glyphicon-warning-sign"></span></th>
          <th style="width:7%">ID</th>
          <th>Title</th>
          <th style="width:12%">Service</th>
          <th style="width:12%">Assigned</th>
          <th style="width:12%">Created</th>
          <th style="width:12%">Due Date</th>
        </tr>
        <tr ng-repeat="x in incidents | orderBy: 'due_date' | limitTo: incidentlimit">
          <td ng-class="{'danger':x.priority.description=='Urgent','warning':x.priority.description=='V. Important','success':x.priority.description=='Important','info':x.priority.description=='Inconvenient','active':x.priority.description=='Cosmetics'}">&nbsp;</td>
          <td>{{ x.reference_num}}</td>
          <td>{{ x.title | limitTo: 30 }}{{x.title.length > 30 ? '...' : ''}}</td>
          <td>{{ getservicename(x.service.name)}}</td>
          <td>{{ getassigneename(x.assigned_user.full_name)}}</td>
          <td ng-class="getnewitem(x.created_at)">{{x.created_at | date:'dd/MM/yyyy'}}</td>
          <td ng-class="getdateclass(x.due_date)">{{x.due_date | date:'dd/MM/yyyy'}}</td>
        </tr>
      </table>

      <!--Changes -->

      <h1 style="margin-left:15px; margin-top:-25px;"><small ng-class="{'danger-text':changescounter==1,'success-text':changescounter==0}">Top {{changelimit}} Changes</small></h1>

       <table class="table">
        <tr> 
          <th style='text-align:center;width:20px'><span class='glyphicon glyphicon-random'></span></th>
          <th style='text-align:center;width:20px'><span class='glyphicon glyphicon-flash'></span></th>
          <th style="width:7%">ID</th>
          <th>Title</th>
          <th style="width:12%">Service</th>
          <th style="width:12%">Assigned</th>
          <th style="width:12%">Due Date</th>
          <th style="width:12%">Est. Hours</th>
        </tr>
        <tr ng-repeat="y in changes | orderBy: 'due_live_at' | limitTo: changelimit">
          <td ng-class="{'danger':y.complexity=='High','warning':y.complexity=='Medium','success':y.complexity=='Low'}">&nbsp;</td>
          <td ng-class="{'danger':y.risk=='High','warning':y.risk=='Medium','success':y.risk=='Low'}">&nbsp;</td>
          <td>{{ y.id}}</td>
          <td>{{ y.title | limitTo: 30 }}{{y.title.length > 30 ? '...' : ''}}</td>
          <td>{{ getservicename(y.service.name)}}</td>
          <td>{{ getassigneename(y.assigned_user.full_name)}}</td>          
          <td ng-class="getdateclass(y.due_live_at)">{{(y.due_live_at | date:'dd/MM/yyyy') || 'No Date'}}</td>
          <td>{{ y.estimated_hours}}</td>          
        </tr>
      </table>
    </div>
    <div class="col-md-5">
      <div class="row">

      <!--Status Boxes -->

        <div class="col-md-3 box" ng-class={'bg-danger':incidentstatus=="danger",'bg-warning':incidentstatus=="warning",'bg-success':incidentstatus=="success"}>
          <h2>{{incidents.length}}</h2><h3>Incidents<br/>Open</h3>
        </div>
        <div class="col-md-3 box" ng-class={'bg-danger':changesstatus=="danger",'bg-warning':changesstatus=="warning",'bg-success':changesstatus=="success"}>
          <h2>{{changes.length}}</h2><h3>Changes<br/>Open</h3>
        </div>
        <div class="col-md-3 box" ng-class={'bg-danger':contactstatus=="danger",'bg-warning':contactstatus=="warning",'bg-success':contactstatus=="success"}>
          <h2>{{contacts.Count}}</h2><h3>Contacts<br/>Open</h3></div>
        <div class="col-md-3 box" ng-class={'bg-danger':allserverstatus=="danger",'bg-success':allserverstatus=="success"}>
         <!--Server Status In-House -->        

          <h1 style="margin-top:0px;"><small style="color:#fff!Important;">Servers</small></h1>

          <table class="table">
         
            <tr ng-repeat="s in serverstatus | limitTo: 3000">
              <td><b>{{s.Label}}</b></td>
              <td><p ng-class={'status-good':s.Status=="TRUE",'status-bad':s.Status=="FALSE"}></p></td>
            </tr>
          </table>
        </div>
        

      </div>
      <div class="row">
          
          <!--Tasks from Insightly -->

            <h1 style="margin-top:0px;"><small ng-class="{'danger-text':taskscounter==1,'success-text':taskscounter==0}"><span ng-if="tasks.length >= 12">Top 12</span>Tasks</small></h1>

            <table class="table">
                <tr> 
                <th>Title</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
              <tr ng-repeat="t in tasks  | orderBy: 'DUE_DATE' | limitTo: 12">
                <td>{{t.Title | limitTo: 35 }}{{t.Title.length > 35 ? '...' : ''}}</td>
                <td ng-class="getdateclass(t.DUE_DATE)">{{convertToDate(t.DUE_DATE) | date:'dd/MM/yyyy'}}</td>
                <td ng-class="getstatusclass(t.STATUS)">{{t.STATUS}}</td>
              </tr>
            </table>
      </div>     
     
    </div>

  </div>

  <!--Footer -->

  <footer>
    <div id='foot'>
      <span>&copy; WJP Software Limited {{footerdate | date: 'y'}}</span><span style='right: 5%; position: absolute;'>Last Updated: {{footerdate | date: 'EEEE d MMMM y HH:mm'}} <span class='error glyphicon {{connectionerror}}'> </span></span>
    </div>
  </footer>

    
  </body>
</html>