<!doctype html>
<html ng-app="dashboard">
  <head>
    <script src="js/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/functions.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-controller="DashboardController">
    
    <div class="row">
      <div class="col-md-8">

        <h1 style="margin-left:15px;"><img style="height:75px;" src="img/wjps-logo.png"/></h1>

        <h1 style="margin-left:15px;"><small>Top 15 Incidents</small></h1>

        <table class="table">
        <tr> 
          <th>&nbsp;</th>
          <th>ID</th>
          <th>Title</th>
          <th>Service</th>
          <th>Assigned to</th>
          <th>Created</th>
          <th>Due Date</th>
        </tr>
        <tr ng-repeat="x in incidents | orderBy: 'due_date' | limitTo: 15">
          <td ng-class="{'danger':x.priority.description=='Urgent','warning':x.priority.description=='V. Important','success':x.priority.description=='Important','info':x.priority.description=='Inconvenient','active':x.priority.description=='Cosmetics'}">&nbsp;</td>
          <td>{{ x.reference_num}}</td>
          <td>{{ x.title }}</td>
          <td>{{ x.service.name}}</td>
          <td>{{ x.assigned_user.full_name}}</td>
          <td ng-class="getnewitem(x.created_at)">{{x.created_at | date:'dd/MM/yyyy'}}</td>
          <td ng-class="getdateclass(x.due_date)">{{x.due_date | date:'dd/MM/yyyy'}}</td>
        </tr>
      </table>
      <!-- <p class="lead">This list is only the top 15 Incidents</p> -->
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4 box" ng-class={'bg-danger':incidentstatus=="danger",'bg-warning':incidentstatus=="warning"}>
          <h2>{{incidents.length}}</h2><h3>Incidents<br/>Open</h3>
        </div>
        <div class="col-md-4 box" ng-class={'bg-danger':taskstatus=="danger",'bg-warning':taskstatus=="warning",'bg-success':taskstatus=="success"}><h2>{{tasks.length}}</h2><h3>Tasks<br/>Open</h3></div>
        <div class="col-md-4 box" ng-class={'bg-danger':contactstatus=="danger",'bg-warning':contactstatus=="warning",'bg-success':contactstatus=="success"}>
          <h2>{{contacts.length}}</h2><h3>Contacts<br/>Open</h3></div>
        

      </div>
      <div class="row">
          

            <h1><small>Top 5 Tasks</small></h1>

            <table class="table">
                <tr> 
                <th>Title</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
              <tr ng-repeat="t in tasks  | orderBy: 'DUE_DATE' | limitTo: 5">
                <td>{{t.Title}}</td>
                <td ng-class="getdateclass(t.DUE_DATE)">{{convertToDate(t.DUE_DATE) | date:'dd/MM/yyyy'}}</td>
                <td ng-class="getstatusclass(t.STATUS)">{{t.STATUS}}</td>
              </tr>
            </table>

            <!-- <p class="lead">This list is only the top 5 Outstanding Tasks</p> -->
          
      </div>
      <div class="row">
          

            <h1><small>Recent Contacts</small></h1>

            <table class="table">
                <tr> 
                <th>Title</th>
                <th>From</th>
                <th>Type</th>
                <th>Date Recieved</th>
              </tr>
              <tr ng-repeat="c in contacts | limitTo: 3">
                <td>{{c.Title}}</td>
                <td>{{c.Name}}</td>
                <td>{{c.ContactType}}</td>
                <td>{{convertToDate(c.Recieved) | date:'dd/MM/yyyy'}}</td>
              </tr>
            </table>

            <!-- <p class="lead">This list is only the top 5 Outstanding Contacts</p> -->
          
      </div>
      
     
    </div>

  </div>

  <footer>
    <div id='foot'>
      <span>Last Updated: {{footerdate | date: 'EEEE d MMMM y hh:mm'}}</span><span style='right: 15%; position: absolute;'>&copy; WJP Software Limited {{footerdate | date: 'y'}}</span>
    </div>
  </footer>

    
  </body>
</html>